{:kotoba.app/id "cloud.itonami.isic-4520", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwzgyvi4duu5iyxuex7ktrj3npi235htgfprs5aiuqdyduvztovm", :kotoba.app/embed-url "ipfs://bafkreifwzgyvi4duu5iyxuex7ktrj3npi235htgfprs5aiuqdyduvztovm", :published {:archive "https://kotobase.net/ipfs/bafkreifwzgyvi4duu5iyxuex7ktrj3npi235htgfprs5aiuqdyduvztovm", :size 72752, :put-status 201, :get-status 200, :at "2026-08-15T13:56:00.805Z"}}
